body{
    margin: 10px auto;
    width: 80%;
}
h1, h2, h3, h4 {
    font-family: Swiss;
}
h4{
    margin-right: 10px;
}
#wrapper{
    padding: 20px 10px;
    background-color: #eee;
}
table{
    border-top: 3px solid #fff;
}
.well{
    position: relative;
    background-color: #fff;
}
.recent_activity_date {
    font-size: 0.75em;
    position: absolute;
    right: 5px;
    bottom: -2px;
}
.mega-form{
    width: 90%;
    margin: 0 auto;
}
.add_value_select i {
    width: 15px;
    height: 15px;
    border: 1px solid;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    background-position-x: -407px;
    background-position-y: -96px;
}
.form-horizontal{
    margin: 0 !important;
}
.days div{
    float: left;
    margin: 0 5px;
    text-align: center;
}
.copy_info{
    float: right;
    margin-top: -35px
}
.copy_info i{
    cursor: pointer;
}
.dashboard_block table thead {
    color: #ffffff;
    font-weight: bold;
    background-color: #4e4e4e;
}
.dashboard_block table {
    background-color: #ffffff;
}
.dashboard_block table td {
    border: none;
}
.dashboard{
    border: 2px solid #4e4e4e;
    background-color: #a1a1a1;
    width: 80%;
    margin: 0 auto;
}
.dashboard_block{
    margin: 20px;
}
.supplementary_checkbox{
    display: block;
}
.supplementary_checkbox label{
    font-size: 0.85em;
}
.supplementary_checkbox label.inactive{
    color: #9e9e9e;
}
.supplementary_checkbox input{
    margin: -1px 0px 0px 0px;
}
#jobs_select{
    margin: -45px 0px 0px 200px;
}
.reset, .select_all{
    float: right;
    margin-top: -10px;
    font-size: 0.85em;
}
#cost_code_modal{
    display: block;
    position: absolute;
    top: 50%;
    left: 55%;
}
.submission div{
    width: 60%;
    margin: 0 auto;
}
.submission h3, .submission h4{
    border: none;
}
.level_1 td:nth-child(2){
    padding: 0 0 0 15px;
}
.level_2 td:nth-child(2){
    padding: 0 0 0 30px;    
}
.level_3 td:nth-child(2){
    padding: 0 0 0 45px;    
}
.cost_codes ul{
    list-style: none;
}
.cost_codes ul li div{
    border: 1px solid;
    display: block;
    width: 100%;
    margin: 3px 0;
    padding: 2px 10px;
}
.cost_codes ul li div span{
    float: right;
    cursor: pointer;
}